.app {
  text-align: center;
  color: white;
}

body {
  background-color: rgb(99, 136, 137);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-link {
  padding: 10px;
}

.container-link > a {
  font-size: larger;
  color: white;
}

img {
  margin-top: 20px;
  width: 25%;
}
